<div class="card">
  <div class="card-header">
    <h3>Download or play online 1,628 classic DOS games</h3>
  </div>
  <div class="card-body">
    <p>
      It's amazing how far computer games have progressed. Have you ever felt the urge to take a trip back in time and relive the games of the eighties and nineties? Well now you can!
      We have 1,628 DOS games in our archive that can be downloaded for free. You can play most DOS games in your browser as well. The games are shareware, freeware, playable demos or full versions which are released as freeware or into the public domain. All games on this website can be downloaded legally; DOS Games Archive is not a so-called abandonware website. Also, all downloads are checked for adware, malware and viruses.
    </p>
    <h4>Recently added DOS games</h4>
  </div>
</div>