<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group mb-3">
          <input id="title-filter" type="text" class="form-control" placeholder="Title" aria-label="Title"
            aria-describedby="add-url" ng-model="$ctrl.title">
          <button class="btn btn-outline-secondary" type="button" id="search" ng-click="$ctrl.search($ctrl.title)">Search</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-between alphabet-bar">
        <span ng-repeat="letter in $ctrl.alphabet track by letter">
          <a href="#" ng-click="$ctrl.select(letter)">{{ letter }}</a>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <th hidden>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Release Year</th>
            <th>Developer</th>
            <th>Publisher</th>
            <th>Status</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="game in $ctrl.games">
              <td hidden>{{ game.id }}</td>
              <td>{{ game.title }}</td>
              <td>{{ game.description }}</td>
              <td>{{ game.releaseYear }}</td>
              <td>{{ game.developer.name }}</td>
              <td>{{ game.publishers[0].name }}</td>
              <td>{{ game.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>